body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.header {
    background: #87509c;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.nav {
    padding-top: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: block;


}

.menu {

}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
    font-weight: 600;
}

.menu a:hover {
    background: #643a79;
    padding: 15px 15px;
}

.content-header {
    padding-top: 150px;
    text-align: center;
    padding-bottom: 150px;
}
.title-header {
    text-transform: none;
    width: 925px;
    margin: 0 auto;
    color: #fff;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.3em;
    letter-spacing: 0.01em;
    padding-bottom: 100px;
}

.btn1 {
    height: 67px;
    width: 293px;
    padding: 25px 93px;
    background: #eb7d4b;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    font-weight: 600;
    font-size: 18px;
}

.btn1:hover {
    background: #ef8c5f;
    color: #053243;
    font-weight: 700;
}

.services {
    background: #17c2a4;
}

.services-info {
 padding-top: 100px;
}

.title-services {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 25px;
}

.services-span {
    display: block;
    border: 2px solid #14a58c;
    width: 87px;
    margin: 0 auto;
}

.services p {
    padding-top: 25px;
    width: 610px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    opacity: 70%;
}
.services-pic {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}

.gears {
    margin-right: 70px;
}

.rocket {
    padding-right: 30px;
}

.crayon {
    padding-left: 25px;
}

.namepic {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}


.design-title {
    padding-left: 30px;
}

.development {
    margin-left: 50px;
}

.descriptionpic {
    display: flex;
    position: relative;
}

.descriptionpic p {
    width: 195px;
    padding-bottom: 130px;
}

.branding {
    position: absolute;
    left: 0;
}

.design {
    position: absolute;
    left: 265px;
}

.development-pic {
    position: absolute;
    left: 590px;
}

.rocket-pic {
    padding-left: 920px;
}

.aboute-team {
    background: #e7f1f8;
    height: 800px;
}
.beautiful-team {
    text-align: center;
    padding-top: 120px;
}

.team-title {
    color: #3c4761;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px; 
    letter-spacing: 0.01em;   
}

.beautiful-team span {
    display: block;
    border: 2px solid #c8d9e5;
    width: 87px;
    margin: 0 auto;
}

.beautiful-team p {
    margin-top: 20px;
    color: #3c4761;
    font-size: 18px;
    letter-spacing: 0.05em;
}

.people-photo {
    display: flex;
    justify-content: space-between;
}
.circle {
    margin-top: 65px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 2px solid #878787;
    background: #878787;
}

.people-name {
    font-weight: 700;
    padding-top: 25px;
    color: #27283d;
    display: flex;
    justify-content: space-between;
}

.people-job {
    display: flex;
    justify-content: space-between;
    color: #30bae7;
}

.director {
    padding-left: 0px;
}

.lead {
    padding-right: 15px;
}

.developer {
    padding-right: 7px;
}

.about-people {
    display: flex;
    justify-content: space-between;
    width: 700px;
    text-align: center;
    position: relative;
    color: #3c4761;
} 

.child1 {
    position: absolute;
    width: 206px;
    top: 0;
    left: -25px;
    
}

.child2 {
    position: absolute;
    width: 210px;
    left: 320px;
}

.child3 {
    position: absolute;
    width: 210px;
    left: 640px;
}

.child4 {
    position: absolute;
    width: 210px;
    left: 970px;
}

.skills {
    background: #fff;
}

.content-skills-first {

}

.content-skills-first h2 {
    color: #3c4761;
    font-weight: 700;
    font-size: 40px;
    padding-top: 120px;
    margin-bottom: 15px;
    text-align: center;
}

.content-skills-first span {
    display: block;
    border: 2px solid #c8d9e5;
    width: 87px;
    margin: 0 auto;
}

.content-skills-first p {
    font-size: 18px;
    width: 575px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    color: #3c4761;
}

.percents {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
}


.percents h3 {
    color: #3c4761;
    padding-top: 25px;
    margin-left: 25px;
}

.second-child {
    text-align: center;
    margin-right: 25px;
}

.last-child {
    text-align: center;
    padding-right: 20px;
}

.portfolio {
    background: #ffdd99;
    height: 600px;
}

.portfolio-content {

}

.portfolio-content h2 {
    text-align: center;
    color: #393939;
    font-size: 40px;
    margin: 0 auto;
    padding-top: 123px;
    margin-bottom: 20px;
}
.portfolio-content span {
    display: block;
    border: 2px solid #e5c37f;
    width: 87px;
    margin: 0 auto;
}

.portfolio-content p {
    color: #393939;
    font-size: 18px;
    width: 517px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.portfolio-link {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 100px;
}

.btn1-1 {
    color: #4e4e4e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    margin-right: 20px;
    background: #ebc985;
    padding: 3px 20px;
    border-radius: 5px
}

.btn1-1:hover {
    background: #fff;
}

.btn1-2 {
    color: #4e4e4e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    margin-right: 20px;
    background: #ebc985;
    padding: 3px 20px;
    border-radius: 5px
}

.btn1-2:hover {
    background: #fff;
}

.btn1-3 {
    color: #4e4e4e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    margin-right: 20px;
    background: #ebc985;
    padding: 3px 20px;
    border-radius: 5px
}

.btn1-3:hover {
    background: #fff;
}

.btn1-4 {
    color: #4e4e4e;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    margin-right: 20px;
    background: #ebc985;
    padding: 3px 20px;
    border-radius: 5px
}

.btn1-4:hover {
    background: #fff;
}

.btn5 {
    display: block;
    text-align: center;
    width: 170px;
    margin: 0 auto;
    padding: 25px 93px;
    background: #17c2a4;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    font-weight: 600;
    font-size: 18px;
}
.btn5:hover {
    background: #1d68e4;
    color: #000;
}

.footer {
    background: #344b8e;
}

.footer-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 12px;
}

.footer-footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.footer-footer a:hover {
    color: #30bae7;
}